doctype html
html
  head
    title #{title}
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://d3js.org/d3.v5.min.js")
    link(rel='stylesheet' href='/css/style.css')
    script(src="https://d3js.org/d3.v5.min.js")
  body
    main
      block header
        header
          h1 
            a(href="/") #{title}
            if histogram_data == null
              a(href="/")
                button Back to Program View
          //- a(href="/reload") Reload
      block content