block variables
doctype html
html
  head
    title #{title}
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://d3js.org/d3.v5.min.js")
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/header.css')
    script(src="https://d3js.org/d3.v5.min.js")
  body
    main
      block header
        header
          a(id="image", href='/')
            img(src='../images/mtsiw.png', alt='Trulli', width='157.5', height='70')
            //- a(href="/") #{title}
          nav
            a(href='/students', id="students") Students
            ul
              li(id="courses") Courses
                ul
                  each course in allCourses
                    li 
                      a(href="/course?code="+ course.code) #{course.code}

            if histogram_data == null
              a(href="/")
            //-     button Back to Program View
          //- a(href="/reload") Reload
      block content