header{
  font-size: 140%;
  left: 0;
  transition: opacity .2s ease-in-out;
  text-align: left;
  background-color: white;
}
  
#image{
  vertical-align:middle;
}

nav{
  display: inline;
}

nav ul li{
  display: inline;
  opacity: .7;
}

nav ul li:hover,
nav ul li:focus {
  opacity: 1;
  cursor: pointer;
} 

nav a {
  text-decoration: none;
  opacity: .7;
  padding: .5em .7em;
  color: black;
}

nav a:hover,
nav a:focus {
  opacity: 1;
} 

#courses{
  display: inline-block;
  position: relative;
}
ul {
  text-align: left;
  display: inline;
  list-style: none; 
  color: black;
  transition: opacity .2s ease-in-out; 
}
ul li:hover .overlay {
  display: block;
}


ul li ul {
  transition: opacity .2s ease-in-out;
  padding: 0;
  position: absolute;
  top: 25px;
  left: 0;
  width: 130px;
  box-shadow: none;
  opacity: 0;
  visibility: hidden;
  background-color: white; 
  box-shadow: 0px 3px 5px -1px #ccc;
  font-size: large;
}

ul li ul li {
  min-width: 80px;
  z-index: 1;
}

ul li ul li a { 
  text-decoration: none;
  display: block; 
  padding: 10px;
  border-left: 2px solid #8f969b;
  transition: right 2s ease;
}

ul li:hover ul {
  opacity: 1;
  visibility: visible;
  z-index: 1;
} 

ul li ul li:hover {
  color: black;
  position: relative;
}

